@import "tailwindcss";
/* @config "../../tailwind.config.ts"; */

/* Add to your global CSS when debug panel is present */
/* @media (min-width: 768px) { */

/* .development-mode body {
    padding-top: 60px;
  } */

/* .development-mode.debug-expanded body {
    padding-top: 200px;
  } */
/* } */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-size: 16px;
  --font-brand: "ivymode", sans-serif;
  --font-header: "zekton", mono;
  --font-control: "zekton", mono;
  --font-nav: "zekton", mono;
  --font-text: "greycliff-cf", mono;
  --font-anchor: "greycliff-cf", mono;

  --color-background: oklab(98% 0.00511 0.00147);
  --color-foreground: oklab(18.791% 0.00155 0.00046);

  --color-black: oklab(24.776% 0 -0.00003);
  --color-white: oklab(94.611% 0 -0.00011);

  --color-foreground: oklab(24.776% 0 -0.00003);
  --color-foreground-muted: oklab(59.987% 0 -0.00007);
  --color-background: oklab(94.611% 0 -0.00011);
  --color-background-muted: oklab(72.516% 0 -0.00008);

  --color-primary: oklab(25% 0.07123 -0.10126);
  --color-primary-muted: oklab(45.712% -0.0351 -0.10623);
  --color-primary-accented: oklab(100% 0 -0.00011);
  --color-primary-foreground: oklab(94.611% 0 -0.00011);

  --color-secondary: oklab(78.152% 0.0618 0.15899);
  --color-secondary-muted: oklab(68.219% 0.11852 0.09639);
  --color-secondary-accented: oklab(100% 0 -0.00011);
  --color-secondary-foreground: oklab(94.611% 0 -0.00011);

  --color-accent: oklab(91.959% -0.00751 -0.01651);
  --color-accent-foreground: oklab(94.611% 0 -0.00011);
  --color-ring: oklab(71.068% -0.00802 -0.03427);
  --color-border: oklab(87.545% -0.00545 -0.02036);

  --color-input: oklab(91.648% -0.00344 -0.01528);
  --color-input-invalid: oklab(63.639% 0.19019 0.09073);

  --color-error: oklab(64.884% 0.21122 0.10743);
  --color-error-muted: oklab(55% 0.12339 0.05092);
  --color-error-accented: oklab(91.959% -0.00751 -0.01651);
  --color-error-foreground: oklab(94.611% 0 -0.00011);

  --color-warning: oklab(91.959% -0.00751 -0.01651);
  --color-warning-muted: oklab(91.959% -0.00751 -0.01651);
  --color-warning-accented: oklab(24.776% 0 -0.00003);
  --color-warning-foreground: oklab(24.776% 0 -0.00003);

  --color-success: oklab(110 75% 50%);
  --color-success-muted: oklab(110 40% 50%);
  --color-success-accented: oklab(0 0% 93%);
  --color-success-foreground: oklab(0 0% 13%);

  --color-information: oklab(225 75% 50%);
  --color-information-muted: oklab(225 40% 50%);
  --color-information-accented: oklab(225 100% 100%);
  --color-information-foreground: oklab(222.2 90% 90%);

  --color-silver: oklab(225 85% 85%);
  --color-silver-muted: oklab(225 40% 52%);
  --color-silver-accented: oklab(225 40% 100%);
  --color-silver-foreground: oklab(0 0% 13%);

  --color-disabled: oklab(0 0% 50%);
  --color-disabled-muted: oklab(0 0% 50%);
  --color-disabled-accented: oklab(0 0% 50%);
  --color-disabled-foreground: oklab(0 0% 93%);

  --color-radius: 0.5rem;

  --background-image-home-hero: url("/images/home_hero_2.png");
  --background-image-about-hero: url("/images/about-this-site.png");
  --background-image-resume-accordion: url("/images/home_hero_2.png");
  --background-image-resume-skills: url("/images/home_hero_2.png");
}

@layer base {
  html,
  body {
    @apply bg-background text-foreground dark:bg-foreground dark:text-background font-text;
    font-size: var(--font-size);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    font-weight: 100;
    letter-spacing: 0.025rem;
    @apply mb-4 text-4xl font-bold leading-none tracking-tight md:text-5xl lg:text-6xl text-foreground dark:text-background;
  }
  h2 {
    font-weight: 100;
    letter-spacing: 0.025rem;
    @apply mb-4 text-2xl leading-none md:text-3xl lg:text-4xl text-foreground dark:text-background;
  }
  h3 {
    @apply mb-4 text-xl leading-none tracking-tight md:text-2xl lg:text-3xl text-foreground dark:text-background;
  }
  h4 {
    @apply mb-4 text-lg leading-none tracking-tight md:text-xl lg:text-2xl text-foreground dark:text-background;
  }

  p {
    @apply text-foreground dark:text-background text-sm md:text-lg xl:text-xl;
  }

  a {
    @apply font-anchor cursor-pointer;
  }
}
/* @layer base {
  :root {
    --font-size: 16px;
    --background: #ff0000;
    --foreground: oklch(0.145 0 0);
    --card: #ffffff;
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: #030213;
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.95 0.0058 264.53);
    --secondary-foreground: #030213;
    --muted: #ececf0;
    --muted-foreground: #717182;
    --accent: #e9ebef;
    --accent-foreground: #030213;
    --destructive: #d4183d;
    --destructive-foreground: #ffffff;
    --border: rgba(0, 0, 0, 0.1);
    --input: transparent;
    --input-background: #f3f3f5;
    --switch-background: #cbced4;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: #030213;
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --font-brand: "ivymode", sans-serif;
    --font-header: "zekton", mono;
    --font-control: "zekton", mono;
    --font-nav: "zekton", mono;
    --font-text: "greycliff-cf", mono;
    --font-anchor: "greycliff-cf", mono;
  }

  .dark {
    --background: #ff0000; /*oklch(0.145 0 0); */
/* --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.985 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0); */
/* } */
