.pager-text {
  flex-grow: 3;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  padding: 0 1rem;
}

.data-pager {
  border: solid thin $color-secondary;
  padding: 2px;
  @media screen and (max-width: 1199) {
    font-size: 0.8em;
  }
}
