@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-foreground bg-gray-700;
  scroll-behavior: smooth;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1 {
  font-weight: 100;
  letter-spacing: 0.025rem;
  @apply mb-4 text-4xl font-bold leading-none tracking-tight md:text-5xl lg:text-6xl text-foreground;
}
h2 {
  font-weight: 100;
  letter-spacing: 0.025rem;
  @apply mb-4 text-2xl leading-none md:text-3xl lg:text-4xl text-foreground;
}
h3 {
  @apply mb-4 text-xl leading-none tracking-tight md:text-2xl lg:text-3xl text-foreground;
}
h4 {
  @apply mb-4 text-lg leading-none tracking-tight md:text-xl lg:text-2xl text-foreground;
}

p {
  @apply text-foreground text-sm md:text-lg xl:text-xl;
}

a {
  @apply font-anchor cursor-pointer;
}

@layer base {
  :root {
    --font-sans: Nunito Sans, Nunito Sans Fallback;

    --black: 0 0% 13%;
    --white: 0 0% 93%;

    --foreground: 0 0% 13%;
    --foreground-muted: 0 0% 50%;
    --background: 0 0% 93%;
    --background-muted: 0 0% 65%;

    --accent: 210 40% 90%;
    --accent-foreground: 0 0% 93%;

    --ring: 215 20.2% 65.1%;
    --border: 214 30% 85%;

    --input: 215 32% 90%;
    --input-invalid: 0 85% 60%;

    --primary: 210 65% 15%;
    --primary-muted: 210 65% 35%;
    --primary-accented: 210 65% 100%;
    --primary-foreground: 0 0% 93%;

    --secondary: 15 100% 60%;
    --secondary-muted: 15 75% 60%;
    --secondary-accented: 15 60% 100%;
    --secondary-foreground: 0 0% 93%;

    --error: 0 100% 60%;
    --error-muted: 0 40% 50%;
    --error-accented: 0 40% 100%;
    --error-foreground: 0 0% 93%;

    --warning: 50 100% 50%;
    --warning-muted: 50 80% 75%;
    --warning-accented: 0 0% 13%;
    --warning-foreground: 0 0% 13%;

    --success: 110 75% 50%;
    --success-muted: 110 40% 50%;
    --success-accented: 0 0% 93%;
    --success-foreground: 0 0% 13%;

    --information: 225 75% 50%;
    --information-muted: 225 40% 50%;
    --information-accented: 225 100% 100%;
    --information-foreground: 222.2 90% 90%;

    --silver: 225 85% 85%;
    --silver-muted: 225 40% 52%;
    --silver-accented: 225 40% 100%;
    --silver-foreground: 0 0% 13%;

    --disabled: 0 0% 50%;
    --disabled-muted: 0 0% 50%;
    --disabled-accented: 0 0% 50%;
    --disabled-foreground: 0 0% 93%;

    --radius: 0.5rem;

    --font-brand: "ivymode", mono;
    --font-header: "zekton", mono;
    --font-control: "zekton", mono;
    --font-nav: "zekton", mono;
    --font-text: "greycliff-cf", mono;
    --font-anchor: "greycliff-cf", mono;
  }
}

/* @layer base {
  html,
  body {
    @apply text-siteBlack bg-gray-700;
    scroll-behavior: smooth;
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }

  h1 {
    font-weight: 100;
    letter-spacing: 0.025rem;
    @apply mb-4 text-4xl font-bold leading-none tracking-tight md:text-5xl lg:text-6xl;
  }
  h2 {
    font-weight: 100;
    letter-spacing: 0.025rem;
    @apply mb-4 text-xs leading-none md:text-3xl lg:text-4xl font-semibold tracking-wide font-header uppercase;
  }
  h3 {
    @apply mb-4 text-sm leading-none tracking-tight md:text-2xl lg:text-3xl text-siteBlack;
  }
  h4 {
    @apply mb-4 text-lg leading-none tracking-tight md:text-xl lg:text-2xl text-siteBlack;
  }

  p {
    @apply text-siteBlack text-sm md:text-lg xl:text-xl;
  }

  a {
    @apply font-anchor cursor-pointer;
  }
} */
