.grid-container {
  background-color: $color-white;
  ul {
    padding: 0;
    margin-bottom: 0;
    border: 0px;
  }

  .grid-items {
    padding: 1rem;

    .data-item-wrapper {
      margin-bottom: 1em;
      background-color: white;
      padding: 5px;
    }

    .data-items {
      li {
        display: inline-block;
        padding: 5px;
      }
      // .li.action-item {

      // }
      .action-item {
        color: white;
        padding: 5px;
        background-color: $color-primary;
      }

      li.status-item {
        padding: 5px;
        background-color: white;
        outline: none;

        .status.active {
          color: green;
        }
      }

      @media screen and (min-width: 992px) {
        li:only-child {
          width: 100%;
        }
        /* two items */
        li:first-child:nth-last-child(2),
        li:first-child:nth-last-child(2) ~ li {
          width: 50%;
        }

        /* three items */
        li:first-child:nth-last-child(3),
        li:first-child:nth-last-child(3) ~ li {
          width: 33.3333%;
        }

        /* four items */
        li:first-child:nth-last-child(4),
        li:first-child:nth-last-child(4) ~ li {
          width: 25%;
        }

        /* four items */
        li:first-child:nth-last-child(5),
        li:first-child:nth-last-child(5) ~ li {
          width: 20%;
        }
      }

      @media screen and (max-width: 992px) {
        li {
          width: 100%;
          padding: 2px;
        }
      }
    }

    .data-item-details {
      padding: 1rem;
    }
  }
  label {
    font-weight: 600;
    margin-right: 5px;
  }
}

.grid-container:nth-child(2) {
}
