$color-primary-light: #dd7711;
$color-primary: #083a6b;
$color-primary-dark: #aa4400;

$color-secondary: #ff6633;
$color-tertiary: #51c7e3;
$color-quartenary: #40b6d2;

$color-black: #222222;
$color-white: #eeeeee;
$color-border-md: #dee2e6;
$color-gray: #6c757d;
$color-gray-dark: #343a40;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;
